<%= form_with(model: study, local: true) do |form| %>
  <% if study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study.errors.count, "error") %> prohibited this study from being saved:</h2>

      <ul>
      <% study.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :visibility %>
    <%= form.select :visibility, Study.visibilities.collect { |tuple| [tuple[1], tuple[0]] }, { include_blank: false } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
