<h2>Study Members</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">User</th>
    <th scope="col">Access</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @permissions.each do |permission| %>
      <tr>
        <%= form_for permission, html: { class: 'form-inline', id: permission.id } do |f| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token, form: permission.id %>
          <td colspan="1">
            <%= permission.user.email %>
          </td>
          <td colspan="1">
            <%= f.select :access,
                       Access::keys.collect { |k| [Access::access_to_string(k), k] },
                       {}, { :include_blank => false, class: 'form-control mb-2', form: permission.id } %>
          </td>
          <td colspan="1">
            <%= f.submit 'Update Access', class: "btn btn-primary mb-2", form: permission.id %>
            <%= link_to 'Remove Member', permission, method: :delete,
                        data: { confirm: 'Are you sure you want to remove this user from study?' },
                        class: "btn btn-danger mb-2" %>
          </td>
        <% end %>
      </tr>
  <% end %>
  <tr>
    <%= form_tag(add_member_path(@study), :html => { :class => 'form-inline' }) do %>
      <td colspan="1">
        <%= email_field_tag :email, nil, class: 'form-control mb-2' %>
      </td>
      <td colspan="1">
        <%= select_tag :access, options_for_select(Access::keys.collect { |k| [Access::access_to_string(k), k] }),
                     include_blank: false, class: 'form-control mb-2' %>
      </td>
      <td colspan="1">
        <%= submit_tag 'Add Member', class: "btn btn-primary mb-2" %>
      </td>
    <% end %>
  </tr>
  </tbody>
</table>
<br/>