<div class="container", style="margin: 0px">
  <div class="row">
    <h2 style="margin-right: 20px"><%= @study.name %></h2>
    <span>
      <%= link_to(
              image_tag(@study.in?(current_user.favorites) ? 'filled-star.png' : 'empty-star.png', style: "display: inline; width: 40px;"),
              toggle_favorite_study_path(@study), method: :post) %>
    </span>
  </div>
</div>
<% if @study.url? %>
  <%= link_to @study.url, @study.url, target: "_blank" %>
<% else %>
  (<i>No URL available for this study.</i>)
<% end %>
<br/>
<br/>
<p>
  <strong>Visibility:</strong>
  <%= @study.visibility_as_string %>
</p>
<strong>Description:</strong><br/>
<p><%= @study.description %></p>

<div style="margin-top: 10px;">
  <%= link_to 'Edit', edit_study_path(@study), class: "btn btn-primary btn-sm" %>
  <%= link_to 'Back', studies_path, class: "btn btn-outline-secondary btn-sm" %>
</div>
<hr/>
<div class="row">
  <div class="col-10">
    <h2>Available Datasets</h2>
  </div>
  <div class="col-2">
    <%= link_to 'New Dataset', new_dataset_path(study: @study), class: "btn btn-primary" %>
  </div>
</div>
<% if !@datasets.any? %>
  <i>(No datasets available for this study.)</i>
<% else %>
  <ul class="list-group list-group-flush">
    <% @datasets.each do |dataset| %>
      <li class="list-group-item">
        <div>
          <h4><%= link_to dataset.name, dataset %></h4>
          <div>
            <strong>Data type:</strong>
            <% if dataset.data_type.nil? %>
              (<i>Not available.</i>)
            <% else %>
              <%= dataset.data_type.name %>
            <% end %>
            &nbsp;
            <strong>Year:</strong> <%= dataset.year %>
            &nbsp;
            <strong>Subjects:</strong> <%= dataset.number_subjects %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<br/>