<div class="row">
  <div class="col-<%= @study.pending ? '8' : '10' %>">
    <h2 class="study-name"><%= @study.name %></h2>
    <%= link_to(
            image_tag(@study.in?(current_user.favorites) ? 'filled-star.png' : 'empty-star.png', class: 'favorite-star'),
            toggle_favorite_study_path(@study), method: :post) %>
    <% if @study.pending %>
      <h6>(Pending approval)</h6>
      <br/>
    <% end %>
  </div>
  <% if @study.pending && (can? :approve, @study) %>
    <div class="col-2">
      <%= link_to 'Approve Study', approve_study_path(@study), method: :post, class: "btn btn-success" %>
    </div>
  <% end %>
  <% if !@study.pending && @study.owned_by?(current_user) %>
    <div class="col-2">
      <%= link_to 'Member Access', study_members_path(@study), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<% if @study.url? %>
  <%= link_to @study.url, @study.url, target: "_blank" %>
<% else %>
  (<i>No URL available for this study.</i>)
<% end %>
<br/>
<br/>
<p>
  <strong>Visibility:</strong>
  <%= @study.visibility_as_string %>
</p>
<strong>Description:</strong><br/>
<p><%= @study.description %></p>

<div style="margin-top: 10px;">
  <%= link_to 'Back', studies_path, class: "btn btn-outline-secondary btn-sm" %>
  <% if can? :edit, @study %>
    <%= link_to 'Edit', edit_study_path(@study), class: "btn btn-primary btn-sm" %>
  <% end %>
  <% if can? :destroy, @study %>
    <%= link_to 'Destroy', @study, method: :delete,
                data: { confirm: 'Are you sure? Deleting this study will delete all associated datasets.' },
                class: "btn btn-danger btn-sm" %>
  <% end %>
</div>
<hr/>
<div class="row">
  <div class="col-10">
    <h2>Available Datasets</h2>
  </div>
  <% if can? :edit, @study %>
    <div class="col-2">
      <%= link_to 'New Dataset', new_dataset_path(study: @study), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<% no_datasets_available = true %>
<ul class="list-group list-group-flush">
  <% @datasets.each do |dataset| %>
    <% unless cannot? :read, dataset %>
      <% no_datasets_available = false %>
      <li class="list-group-item">
        <div>
          <h4><%= link_to dataset.name, dataset %></h4>
          <% if dataset.pending %>
            <h6>(Pending approval)</h6>
            <br/>
          <% end %>
          <div>
            <strong>Data type:</strong>
            <% if dataset.data_type.nil? %>
              (<i>Not available.</i>)
            <% else %>
              <%= dataset.print_data_types %>
            <% end %>
            &nbsp;
            <strong>Year:</strong> <%= dataset.year %>
            &nbsp;
            <strong>Subjects:</strong> <%= dataset.number_subjects %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
<% if no_datasets_available %>
  <i>(No datasets available for this study.)</i>
<% end %>
<br/>