<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav ml-auto">
    <div class="nav-item px-2">
      <strong>
        <%= link_to 'Lab Data Manager', root_path, :class => 'nav-link' %>
      </strong>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'My Studies', studies_path, :class => 'nav-link' %>
      </li>
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
    <% if user_signed_in? %>
      <div class="nav-item dropdown my-2 my-lg-0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'%>
        </div>
      </div>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>