<!DOCTYPE html>
<html>
  <head>
    <title>LabManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>

    <%= render "layouts/navbar" %>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            setTimeout(function(){
                $('#flash').fadeTo(2000, 500).slideUp(500, function() {
                    $("#flash").slideUp(500);
                });
            }, 2000);
        })
    </script>
  </body>
</html>
